@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Dosis&family=Fredoka:wght@300&family=Hubballi&family=Island+Moments&family=Pacifico&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
:root {
  //   --background: #18184a;

  --black: #000000;
  --white: #ffffff;
  --btnColor: #0066ff;
  --backgroundImg: radial-gradient(#242582, #2f2fa1, #242582);
  --backgroundColor2: rgb(59, 57, 153);

  --primery1: #242582;
  --primery2: #2f2fa1;
  --primery3: #563d67;
  --rose1: #f64c71;
  --primery4: #99728d;
}
a {
  text-decoration: none;
}
// body {
//   background-color: var(--primery1);
// }
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("https://wallpapercave.com/wp/wp3991167.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  background-image: var(--backgroundImg);
  display: flex;
  align-items: center;
  padding: 1%;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 20px 7px 7px 3px rgba(0, 0, 0, 0.75);

  z-index: 10;

  .nav_logo {
    width: 8%;
    a {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
  .nav_contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .home_teams {
      display: flex;
      align-items: center;
      a {
        color: var(--white);
        font-weight: bold;
        font-size: 1.5em;
        margin-right: 2vw;

        &:hover {
          color: var(--rose1);
          border-bottom: 4px solid var(--white);
        }
      }
    }
    .nav-create-btns {
      display: flex;
      align-items: center;
      width: 40%;
      .btn {
        background-color: var(--rose1);
        padding: 0.75vw;
        line-height: 1;
        border: none;
        margin: 0 1vw;
        border-radius: 1.2vw;

        cursor: pointer;
        &:hover {
          transform: scale(1.1);
          background-color: var(--white);
        }
      }
    }
    .search_area {
      display: flex;
      align-items: center;
      input {
        width: 100%;
        margin-right: 0.5vw;
        padding: 0.75vw 2vw;
        border-radius: 0.4vw;
        border: none;
        font-size: 1em;
      }
      .btn {
        width: 50%;
        padding: 0.75vw;
        background-color: var(--rose1);
        border-radius: 0.4vw;
        border: none;
        font-size: 1em;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }
    #refresh{
        background-color: #0066ff;
        border: none;
        border-radius: 50%;
        width: 70px;
        height: 40px;
        margin-right: 1.5%;
        line-height: 1;
    }
    }
  }
}
// slider
.main_slider {
  margin-top: 10vh;
  padding-top: 1vh;
  
}
.scrollsection {
  margin: 50px 0px 20px 20px;
  img {
    height: 75vh;
    width: 500px;
  }
}

.slick-slide {
  width: 100%;
  margin: 0 50px;
}

.slick-dots {
  list-style-type: none;
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
}

.slick-dots li {
  display: inline-block;
}

.slick-dots button {
  display: inline-block;
  font-size: 0px;
  color: #ccc;
  background-color: #ccc;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0;
  margin-left: 6px;
  margin-right: 6px;
  outline: none;
  cursor: pointer;
}

.slick-active button {
  background-color: #aaa;
}

// our team card section
#our_teams_section {
  margin-top: 15vh;
  height: 100vh;
  color: var(--white);

  .header {
    background-color: var(--primery2);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 7px 7px 3px rgba(0, 0, 0, 0.75);
    h2 {
      font-size: 2em;
      text-shadow: 10px 5px 5px var(--rose1);
    }
  }
  .cards {
    width: 100%;
    padding: 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vw;

    .card {
      //   background-color: var(--primery2);
      background: linear-gradient(rgba(11, 11, 11, 0.6), rgba(0, 0, 0, 0.6));
      width: 100%;
      display: flex;
      flex-direction: row;
      box-shadow: 20px 7px 7px 3px rgba(0, 0, 0, 0.75);
      border-radius: 0.5vw;
      border: 1px solid var(--rose1);
      padding: 4%;
      align-items: center;

      &:hover {
        transform: scale(1.02);
        background-color: var(--primery2);
      }
      .img {
        width: 30%;
        height: 50%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .details {
        width: 70%;
        padding-left: 5%;

        p {
          margin: 2vh 0;
          font-weight: bold;
          span {
            color: var(--rose1);
          }
        }
        .btn {
          bottom: 0;
          background-color: var(--rose1);
          padding: 0.75vw;
          line-height: 1;
          border: none;
          margin: 0 1vw;
          border-radius: 0.3vw;
          cursor: pointer;
          a {
            color: var(--white);
            font-size: 1.2em;
          }
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

// forms
.team_crete_form {
  background-color: #aaa;
  padding: 0.5%;
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  position: absolute;
  top: 15vh;
  left: 20vw;
  position: fixed;
  padding-top: 50px;
  visibility: hidden;
  input {
    margin: 5px 0;
    padding: 3%;
    border: none;
    border-radius: 5px;
    width: 90%;
  }
  button {
    width: 50%;
    padding: 2%;
    margin-top: 2%;
  }
  i {
    position: absolute;
    right: 3%;
    top: 3%;
    font-size: 30px;

    &:hover {
      transform: scale(1.2);
    }
  }
}
// player crete
.player_crete_form {
  background-color: #aaa;
  padding: 0.5%;
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  position: absolute;
  top: 15vh;
  left: 50vw;
  position: fixed;
  padding-top: 50px;
  visibility: hidden;
  input {
    margin: 5px 0;
    padding: 3%;
    border: none;
    border-radius: 5px;
    width: 90%;
  }
  button {
    width: 50%;
    padding: 2%;
    margin-top: 2%;
  }
  i {
    position: absolute;
    left: 3%;
    top: 3%;
    font-size: 30px;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.team_details_page {
  padding: 14vh 2vw 2vh 2vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  .left {
    width: 30%;
    border: 1px solid var(--rose1);
    text-align: center;
    border-radius: 2%;
    padding-top: 2%;
    color: var(--white);
    box-shadow: 20px 7px 7px 3px rgba(0, 0, 0, 0.75);

    h1 {
      color: var(--white);
    }
    .img {
      width: 100%;
      margin-top: 8%;
      margin-bottom: 10%;
      img {
        width: 20vw;
        height: 30vh;
      }
    }
    h1 {
      text-align: center;
    }
    .detail {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 5%;
      p {
        font-weight: bold;
        margin: 2% 0;

        span {
          color: var(--rose1);
        }
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 3%;

    h2 {
      text-align: center;
      color: var(--white);
      margin-bottom: 2%;
    }
    .players_grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;

      .player {
        border: 1px solid var(--rose1);
        padding: 3%;
        transition: all 0.3 ease-in-out;
        border: none;
        box-shadow: 10px 7px 7px 3px rgba(0, 0, 0, 0.75);
        border-radius: 5%;
        color: var(--white);
        border: 1px solid var(--rose1);

        .img {
          text-align: center;
          img {
            width: 100%;
            height: 150px;
            border-radius: 2%;
          }
        }
        button {
          background-color: var(--rose1);
          margin-left: 25%;
          margin-top: 5%;

          padding: 0.75vw;
          line-height: 1;
          border: none;

          border-radius: 0.3vw;
          cursor: pointer;
          a {
            color: var(--white);
            font-size: 1.2em;
          }
          &:hover {
            transform: scale(1.05);
          }
        }
        .details {
          #name {
            font-weight: bold;
            margin: 2% 0;
            font-size: 1.3em;
            font-family: "Caveat Brush", cursive;
          }
        }

        &:hover {
          transform: scale(1.01);
          background-color: var(--btnColor);
          color: var(--white);

          button {
            background-color: var(--white);
          }
        }
      }
    }
  }
}

.none {
  display: none;
}

// player details page
.payer_details_section_Contanier {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 15vh;
  padding: 2%;
  color: var(--white);
  .left {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--rose1);
    border-radius: 2%;
    box-shadow: 20px 7px 7px 3px rgba(0, 0, 0, 0.75);

    .img {
      width: 100%;

      img {
        width: 100%;
        border-radius: 2%;
        height: 400px;
      }
    }
    .name {
      text-align: center;
      display: flex;
      padding: 2%;
      background-color: var(--rose1);
      height: 100%;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 1.6em;
      }
    }
  }
  .right {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
    p {
      font-size: 2.5em;
      margin: 2% 0;
      font-family: "Caveat Brush", cursive;
      text-shadow: 20px 7px 3px rgba(0, 0, 0, 0.75);
      span {
        color: var(--rose1);
        font-family: "Caveat Brush", cursive;
      }
    }
    a {
      width: 100%;
      button {
        width: 100%;
        background-color: var(--rose1);
        border: none;
        border-radius: 20px;
        padding: 2%;
        font-size: 1em;
        cursor: pointer;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}

// player search section
#search_player_details{
     margin-top: 15vh;
     padding: 2%;
     .searching_players{
          display: grid;
          grid-template-columns: repeat(5,1fr);
          grid-gap: 20px;

 .players{
     width: 100%;
   background-color: var(--rose1);
   border-radius: 2%;

     .img{
         width: 100%;
         img{
             width: 100%;
             height: 200px;
             border-radius: 2% 2% 0 0;
         }
     }
     .details{
         padding: 2%;
     }
 }
     }
}

.info{
    color: white;
}
//   media

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    .nav_contents {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin: 2vh 0;

      .home_teams,
      .nav-create-btns,
      .search_area {
        margin: 2vh 0;
        width: 100%;
        justify-content: center;
      }
      .search_area {
        width: 70%;
      }
    }
  }
  .main_slider {
    display: none;
  }
}
